<%- include("layout/main", {title: "My shopcart" }) %>

  <body>
    <%- include("partials/nav.ejs")%>
      <% if( cart===null || cart.products.length==0) { %>
        <div class=" nothing_here">
          <h1>Tu carrito está vacío</h1>
        </div>
        <% } else { %>
          <div class="section-products">
            <table width="60%">
              <thead>
                <tr>
                  <td>Nombre</td>
                  <td>Precio</td>
                  <td>Producto</td>
                  <td>Cantidad</td>
                  <td>Ver</td>
                  <td>Quitar Producto</td>
                </tr>
              </thead>
              <tbody>
                <% cart.products.forEach((item)=>{ %>
                  <tr key="<%= item.id %>">
                    <td style="white-space: normal">
                      <%= item.title %>
                    </td>
                    <td>$AR <%= item.price %>
                    </td>
                    <td>
                      <img alt="<%= item.title %>" src="<%= item.thumbnail %>" width="40px" height="40px" />
                    </td>
                    <td style="background-color: yellow">
                      <div>
                        <form action="/cart/<%= user.cart_id %>/products" method="POST">
                          <input type="hidden" name="_id" value="<%= item._id %>" />
                          <button type="submit" class="btn btn-primary">+</button>
                        </form>
                        <h3>
                          <%= item.quantity %>
                        </h3>
                        <form action="/cart/<%= user.cart_id %>/products/<%-item._id%>?_method=DELETE" method="POST">
                          <button type="submit" class="btn btn-secondary">-</button>
                        </form>
                      </div>
                    </td>
                    <td>
                      <a href="/products/<%- item._id %>">Ver</a>
                    </td>
                    <td>
                      <form action="/cart/<%= user.cart_id %>/products?_method=DELETE" method="POST">
                        <input type="hidden" name="_id" value="<%= item._id %>" />
                        <button type="submit" class="btn btn-primary">x</button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
          <div class="pre_order" style="max-width: 45%; padding: 15px; text-align: center;">
            <h2>Datos para el envío</h1>
              <h3>Subtotal: $ <%= cart.subtotal %>
              </h3>
              <form action="/orders" method="POST">
                <div class="form-outline mb-2">
                  <input type="text" id="city" class="form-control" name="city" />
                  <label class="form-label" for="city">City</label>
                </div>
                <div class="form-outline mb-2">
                  <input type="text" id="address" class="form-control" name="address" />
                  <label class="form-label" for="address">Address</label>
                </div>
                <div class="form-outline mb-2">
                  <input type="number" id="CP" class="form-control" name="CP" />
                  <label class="form-label" for="CP">CP</label>
                </div>
                <button type="submit" class="btn btn-primary">Get order</button>
              </form>
          </div>
          <% } %>
  </body>