<%- include("layout/main", {title: "Products" }) %>

  <body>
    <%- include("partials/nav.ejs") %>
      <main>
        <% if(!products) { %>
          <div class="nothing_here">
            <h1>Debés cargar productos en la base de datos. Aquí no hay nada</h1>
            <a href="/" class="btn btn-light btn-block mb-4">Cargar productos</a>
          </div>
          <% } else { %>
            <div class="section-products">
              <form action="/products" id="select-form">
                <select class="form-select select-products" name="categories">
                  <option selected disabled>Choose a category</option>
                  <option value="/products">All</option>
                  <option value="?category=food">Alimentos</option>
                  <option value="?category=drinks">Bebidas</option>
                  <option value="?category=dairy">Lácteos</option>
                  <option value="?category=cleaning">Limpieza</option>
                </select>
                <input type="button" class="btn-warning" style="padding:5px 0; width:100%" name="Submit" value="Search"
                  onClick="top.location.href = this.form.categories.options[this.form.categories.selectedIndex].value;
            return false;">
              </form>
              <table width="60%">
                <thead>
                  <tr>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Producto</td>
                    <td>Ver</td>
                    <td>Agregar al carrito</td>
                  </tr>
                </thead>
                <tbody>
                  <% products.forEach((item)=>{ %>
                    <tr key="<%= item.id %>">
                      <td style="white-space: normal">
                        <%= item.title %>
                      </td>
                      <td>$AR <%= item.price %>
                      </td>
                      <td>
                        <img alt="<%= item.title %>" src="<%= item.thumbnail %>" width="40px" height="40px" />
                      </td>
                      <td>
                        <a href="/products/<%= item.id %>">Ver</a>
                      </td>
                      <td>
                        <form action="/cart/<%= user.cart_id %>/products" method="POST">
                          <input type="hidden" name="_id" value="<%= item._id %>" />
                          <button type="submit" class="btn btn-primary">
                            Add to shopcart
                          </button>
                        </form>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
              <% } %>
            </div>
      </main>
  </body>