<%- include("layout/main", {title: "Successful" }) %> <%- include("partials/nav.ejs") %>

        <body>
            <div
                style="text-align: center; background-color: rgba(255, 255, 255, 0.466); padding: 10px 25px; margin: 5px auto;">
                <h1>
                    Dear <%= order.owner %>
                </h1>
                <h4>Thanks for your purchase</h4>
                <p>We send the order of your purchase to your mailbox <%= order.email %>
                </p>
                <div class="card-body">
                    <a href="/" class="btn btn-warning btn-block mb-4">Back to Home</a>
                    <a href="/order/<%= order._id%>" class="btn btn-light btn-block mb-4">See your order</a>
                </div>
            </div>
        </body>